.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.ChatBot {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.Heading {
  text-align: center;
  padding: 20px 0;
}

.chatBotLogo {
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 10px;
  border-radius: 50%;
}

.heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
